n8n-setup/workflows/google-docs-sync.json
{
  "name": "Google Docs Automation Workflow",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9,
              "minute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Trigger (9 AM)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "query": "मेरी AI परियोजनाएं",
        "options": {}
      },
      "id": "search-existing-docs",
      "name": "Search Existing Docs",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "google-api",
          "name": "Google API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.length}}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-doc-exists",
      "name": "Check if Doc Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemma:3b"
            },
            {
              "name": "prompt",
              "value": "Create a comprehensive project portfolio document in Hindi and English for a biotechnology professional. Include sections for: 1) Personal Introduction, 2) Current Projects, 3) Skills & Technologies, 4) Achievements, 5) Goals & Objectives, 6) Contact Information. Make it professional and suitable for Google Docs."
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        }
      },
      "id": "ai-content-generator",
      "name": "AI Content Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "title": "🔬 मेरी AI परियोजनाएं - {{new Date().toLocaleDateString('hi-IN')}}",
        "options": {}
      },
      "id": "create-new-doc",
      "name": "Create New Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "googleApi": {
          "id": "google-api",
          "name": "Google API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "={{$json.documentId}}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "insertLocation": "end",
              "text": "={{JSON.parse($node[\"AI Content Generator\"].json[\"response\"]).response}}"
            }
          ]
        }
      },
      "id": "insert-ai-content",
      "name": "Insert AI Content",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1340,
        200
      ],
      "credentials": {
        "googleApi": {
          "id": "google-api",
          "name": "Google API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addPermissions",
        "fileId": "={{$node[\"Create New Doc\"].json[\"documentId\"]}}",
        "permissionsUi": {
          "permissionFields": [
            {
              "role": "writer",
              "type": "user",
              "emailAddress": "balaji.web.design1@gmail.com"
            }
          ]
        }
      },
      "id": "share-document",
      "name": "Share Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1560,
        200
      ],
      "credentials": {
        "googleApi": {
          "id": "google-api",
          "name": "Google API"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentId": "={{$node[\"Search Existing Docs\"].json[0][\"id\"]}}"
      },
      "id": "get-existing-doc",
      "name": "Get Existing Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        900,
        400
      ],
      "credentials": {
        "googleApi": {
          "id": "google-api",
          "name": "Google API"
        }
      }
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "shakti:latest"
            },
            {
              "name": "prompt",
              "value": "Review and enhance the following document content: {{$json.body.content[0].paragraph.elements[0].textRun.content}}. Add new achievements, update project progress, and include recent developments. Keep the format professional and bilingual (Hindi/English)."
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        }
      },
      "id": "ai-content-enhancer",
      "name": "AI Content Enhancer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "={{$node[\"Get Existing Doc\"].json[\"documentId\"]}}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "insertLocation": "end",
              "text": "\n\n📅 अपडेट: {{new Date().toLocaleDateString('hi-IN')}}\n\n{{JSON.parse($json[\"response\"]).response}}"
            }
          ]
        }
      },
      "id": "update-existing-doc",
      "name": "Update Existing Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1340,
        400
      ],
      "credentials": {
        "googleApi": {
          "id": "google-api",
          "name": "Google API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "22034563001@paruluniversity.ac.in",
        "toEmail": "balaji.web.design1@gmail.com",
        "subject": "📄 Google Docs Portfolio Updated",
        "html": "<h2>📄 Google Docs Automation Report</h2>\n\n<p><strong>Date:</strong> {{new Date().toLocaleDateString('hi-IN')}}</p>\n\n<p><strong>Action:</strong> Portfolio document automatically updated</p>\n\n<p><strong>AI Model Used:</strong> {{$node[\"Check if Doc Exists\"].json ? \"Gemma 3B\" : \"SHAKTI\"}}</p>\n\n<p><strong>Document Details:</strong></p>\n<ul>\n  <li>📝 Professional content generated</li>\n  <li>🌐 Bilingual format (Hindi/English)</li>\n  <li>🔄 Auto-updated with latest achievements</li>\n  <li>📊 Project progress included</li>\n</ul>\n\n<p><strong>Document Link:</strong> <a href=\"https://docs.google.com/document/d/{{$node[\"Create New Doc\"] ? $node[\"Create New Doc\"].json[\"documentId\"] : $node[\"Get Existing Doc\"].json[\"documentId\"]}}/edit\">View Document</a></p>\n\n<p><strong>Next Steps:</strong></p>\n<ol>\n  <li>Review the generated content</li>\n  <li>Make any necessary edits</li>\n  <li>Share with relevant contacts</li>\n  <li>Update your LinkedIn profile</li>\n</ol>\n\n<hr>\n<p><em>This document was created/updated by your n8n AI automation workflow.</em></p>",
        "options": {}
      },
      "id": "send-completion-email",
      "name": "Send Completion Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "gmail-smtp",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemma:3b"
            },
            {
              "name": "prompt",
              "value": "Generate a LinkedIn post about updating my professional portfolio. Mention AI automation, biotechnology projects, and continuous learning. Make it engaging and professional in both Hindi and English."
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        }
      },
      "id": "generate-linkedin-post",
      "name": "Generate LinkedIn Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "22034563001@paruluniversity.ac.in",
        "toEmail": "balaji.web.design1@gmail.com",
        "subject": "📱 LinkedIn Post Content Ready",
        "html": "<h2>📱 LinkedIn Content Generated</h2>\n\n<p><strong>AI-Generated LinkedIn Post:</strong></p>\n<div style=\"background: #f0f8ff; padding: 15px; border-left: 4px solid #0077b5; margin: 15px 0;\">\n{{JSON.parse($json[\"response\"]).response}}\n</div>\n\n<p><strong>Instructions:</strong></p>\n<ol>\n  <li>Copy the content above</li>\n  <li>Log into LinkedIn</li>\n  <li>Create a new post</li>\n  <li>Paste and customize the content</li>\n  <li>Add relevant hashtags: #AI #Biotechnology #Automation #Portfolio</li>\n  <li>Tag relevant connections</li>\n  <li>Publish the post</li>\n</ol>\n\n<p><strong>Optimal Posting Time:</strong> 9-11 AM or 2-4 PM IST</p>\n\n<hr>\n<p><em>This content was generated by your n8n AI automation workflow.</em></p>",
        "options": {}
      },
      "id": "send-linkedin-content",
      "name": "Send LinkedIn Content",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "gmail-smtp",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 18,
              "minute": 0
            }
          ]
        }
      },
      "id": "evening-backup-trigger",
      "name": "Evening Backup (6 PM)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        600
      ]
    },
    {
      "parameters": {
        "operation": "export",
        "fileId": "={{$node[\"Get Existing Doc\"] ? $node[\"Get Existing Doc\"].json[\"documentId\"] : $node[\"Create New Doc\"].json[\"documentId\"]}}",
        "format": "pdf"
      },
      "id": "export-to-pdf",
      "name": "Export to PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        460,
        600
      ],
      "credentials": {
        "googleApi": {
          "id": "google-api",
          "name": "Google API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "22034563001@paruluniversity.ac.in",
        "toEmail": "balaji.web.design1@gmail.com",
        "subject": "💾 Daily Portfolio Backup",
        "html": "<h2>💾 Daily Backup Complete</h2>\n\n<p>Your portfolio document has been automatically backed up as PDF.</p>\n\n<p><strong>Backup Details:</strong></p>\n<ul>\n  <li>📅 Date: {{new Date().toLocaleDateString('hi-IN')}}</li>\n  <li>🕕 Time: {{new Date().toLocaleTimeString('hi-IN')}}</li>\n  <li>📄 Format: PDF</li>\n  <li>💾 Storage: Google Drive</li>\n</ul>\n\n<p><strong>Security Features:</strong></p>\n<ul>\n  <li>🔒 Encrypted storage</li>\n  <li>☁️ Cloud backup</li>\n  <li>📱 Mobile access</li>\n  <li>🔄 Version control</li>\n</ul>\n\n<hr>\n<p><em>This backup was created automatically by your n8n AI automation workflow.</em></p>",
        "attachments": "={{[{\"name\": \"Portfolio_Backup_\" + new Date().toISOString().split('T')[0] + \".pdf\", \"content\": $json.data, \"type\": \"application/pdf\"}]}}",
        "options": {}
      },
      "id": "send-backup-email",
      "name": "Send Backup Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        680,
        600
      ],
      "credentials": {
        "smtp": {
          "id": "gmail-smtp",
          "name": "Gmail SMTP"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger (9 AM)": {
      "main": [
        [
          {
            "node": "Search Existing Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Existing Docs": {
      "main": [
        [
          {
            "node": "Check if Doc Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Doc Exists": {
      "main": [
        [
          {
            "node": "AI Content Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Existing Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Content Generator": {
      "main": [
        [
          {
            "node": "Create New Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Doc": {
      "main": [
        [
          {
            "node": "Insert AI Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert AI Content": {
      "main": [
        [
          {
            "node": "Share Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share Document": {
      "main": [
        [
          {
            "node": "Send Completion Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Doc": {
      "main": [
        [
          {
            "node": "AI Content Enhancer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Content Enhancer": {
      "main": [
        [
          {
            "node": "Update Existing Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing Doc": {
      "main": [
        [
          {
            "node": "Send Completion Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Completion Email": {
      "main": [
        [
          {
            "node": "Generate LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate LinkedIn Post": {
      "main": [
        [
          {
            "node": "Send LinkedIn Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evening Backup (6 PM)": {
      "main": [
        [
          {
            "node": "Export to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export to PDF": {
      "main": [
        [
          {
            "node": "Send Backup Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-15T10:00:00.000Z",
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1",
  "triggerCount": 2,
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "google-docs-automation",
      "name": "Google Docs Automation"
    }
  ]
}