n8n-workflows/career-automation-workflow.json
{
  "name": "Career Automation Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "1a2b3c4d-5e6f-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [280, 300]
    },
    {
      "parameters": {
        "operation": "post",
        "url": "https://api.github.com/user/repos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "2b3c4d5e-6f7g-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "GitHub API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 200]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "send",
        "message": {
          "to": "balaji.web.design1@gmail.com,22034563001@paruluniversity.ac.in",
          "subject": "Weekly Career Automation Report",
          "body": "=Weekly automation report generated successfully.\n\nKey Activities:\n- GitHub repositories updated\n- Social media posts scheduled\n- Job applications tracked\n- Portfolio analytics reviewed\n\nNext Actions:\n- Review new job opportunities\n- Update skill assessments\n- Network with industry professionals\n\nAutomated by n8n Career System"
        }
      },
      "id": "3c4d5e6f-7g8h-9i0j-1k2l-m3n4o5p6q7r8",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4d5e6f7g-8h9i-0j1k-2l3m-n4o5p6q7r8s9",
              "leftValue": "={{ $today.format('dddd') }}",
              "rightValue": "Monday",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5e6f7g8h-9i0j-1k2l-3m4n-o5p6q7r8s9t0",
      "name": "Is Monday?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "command": "python3 /scripts/portfolio_generator.py"
      },
      "id": "6f7g8h9i-0j1k-2l3m-4n5o-p6q7r8s9t0u1",
      "name": "Generate Portfolio Content",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 400]
    },
    {
      "parameters": {
        "operation": "create",
        "spreadsheetId": "your_google_sheets_id",
        "range": "A:Z",
        "options": {}
      },
      "id": "7g8h9i0j-1k2l-3m4n-5o6p-q7r8s9t0u1v2",
      "name": "Update Job Tracking Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "command": "python3 /scripts/vpn_switcher.py",
        "options": {}
      },
      "id": "8h9i0j1k-2l3m-4n5o-6p7q-r8s9t0u1v2w3",
      "name": "VPN Switch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 500]
    },
    {
      "parameters": {
        "command": "python3 /scripts/ai_content_generator.py",
        "options": {}
      },
      "id": "9i0j1k2l-3m4n-5o6p-7q8r-s9t0u1v2w3x4",
      "name": "Local AI Processing",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 600]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-workflow",
        "options": {}
      },
      "id": "0j1k2l3m-4n5o-6p7q-8r9s-t0u1v2w3x4y5",
      "name": "Test Command Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [280, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1k2l3m4n-5o6p-7q8r-9s0t-u1v2w3x4y5z6",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2l3m4n5o-6p7q-8r9s-0t1u-v2w3x4y5z6a7",
      "name": "Execution Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 500]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GitHub API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Portfolio Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub API": {
      "main": [
        [
          {
            "node": "Is Monday?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Monday?": {
      "main": [
        [
          {
            "node": "Update Job Tracking Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job Tracking Sheet": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Command Webhook": {
      "main": [
        [
          {
            "node": "VPN Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Local AI Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VPN Switch": {
      "main": [
        [
          {
            "node": "Execution Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local AI Processing": {
      "main": [
        [
          {
            "node": "Execution Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d5b8c3a1-9f2e-4a7b-8c6d-1e3f5g9h2i4j",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f75859920be976c80a11c1dd4be8852c698c893b1073cb8716ee93cd8d6a3c9"
  },
  "id": "1",
  "tags": [
    {
      "createdAt": "2024-01-15T10:30:00.000Z",
      "updatedAt": "2024-01-15T10:30:00.000Z",
      "id": "career-automation",
      "name": "Career Automation"
    }
  ]
}