n8n-workflows/master-career-automation.json
{
  "name": "Complete Career Automation Master Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression", 
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "Weekly Monday 8AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "career-automation",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Manual Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 600]
    },
    {
      "parameters": {
        "command": "python3 /scripts/execution_validator.py validate-all"
      },
      "id": "system-validation",
      "name": "System Validation Check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [400, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validation-check",
              "leftValue": "={{ JSON.parse($json.stdout).status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validation-gate",
      "name": "Validation Success Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "command": "python3 /scripts/vpn_switcher.py switch-offers"
      },
      "id": "vpn-switch-node",
      "name": "VPN Country Switching",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "command": "python3 /scripts/ai_content_generator.py generate 'Create weekly LinkedIn post about bioinformatics career progress'"
      },
      "id": "ai-content-generation",
      "name": "Local AI Content Generation",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [800, 400]
    },
    {
      "parameters": {
        "command": "python3 /scripts/portfolio_generator.py generate '{\"name\": \"Weekly Portfolio Update\", \"description\": \"Automated portfolio content generation\", \"tools\": \"Python, n8n, AI\"}'"
      },
      "id": "portfolio-update",
      "name": "Portfolio Content Update",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [800, 500]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "repository",
        "operation": "create",
        "owner": "={{ $env.GITHUB_USERNAME }}",
        "repository": "weekly-automation-{{ $now.format('YYYY-MM-DD') }}",
        "additionalFields": {
          "description": "Automated weekly career content generated by n8n workflow",
          "private": false,
          "autoInit": true
        }
      },
      "id": "github-repo-creation",
      "name": "GitHub Repository Management",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1000, 350]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": "{{ $env.GOOGLE_SHEETS_JOB_TRACKER_ID }}",
        "sheetName": "Job Applications",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('YYYY-MM-DD') }}",
            "Activity": "Automated Content Generation",
            "Status": "Completed",
            "Notes": "={{ $json.stdout }}"
          }
        },
        "options": {}
      },
      "id": "job-tracking-update",
      "name": "Update Job Tracking Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1000, 450]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "send",
        "message": {
          "to": "balaji.web.design1@gmail.com,22034563001@paruluniversity.ac.in",
          "subject": "🚀 Weekly Career Automation Report - {{ $now.format('MMMM Do, YYYY') }}",
          "body": "=🤖 **Weekly Career Automation System Report**\n\n📅 **Report Date:** {{ $now.format('MMMM Do, YYYY') }}\n⏰ **Generated:** {{ $now.format('h:mm A') }}\n\n## 🔍 System Validation\n✅ **Status:** All systems operational\n🛠️ **Components Checked:** n8n server, workflows, webhooks, scripts\n📊 **Success Rate:** 100%\n\n## 🌍 VPN Operations\n🔄 **Country Switching:** {{ $('VPN Country Switching').item.json.stdout || 'Completed' }}\n🌐 **Regions Tested:** US, UK, DE, SG, AU, CA\n💰 **Offers Access:** Multi-region pricing checked\n\n## 🧠 AI Content Generation\n📝 **Content Created:** LinkedIn posts, portfolio updates\n🤖 **Models Used:** Gemma 3n, SHAKTI (offline)\n⚡ **Performance:** High-speed local processing\n\n## 📁 Portfolio Updates\n🔄 **GitHub Repositories:** Updated and optimized\n📊 **Documentation:** Auto-generated README files\n🎯 **Projects Showcased:** Latest bioinformatics work\n\n## 📈 Job Tracking\n📋 **Applications Logged:** Automatically tracked\n📊 **Analytics Updated:** Performance metrics refreshed\n🎯 **Target Companies:** Biotech/pharma focus maintained\n\n## 🔗 Quick Links\n- [GitHub Profile](https://github.com/{{ $env.GITHUB_USERNAME }})\n- [LinkedIn Profile]({{ $env.LINKEDIN_PROFILE_URL }})\n- [Job Tracking Sheet](https://docs.google.com/spreadsheets/d/{{ $env.GOOGLE_SHEETS_JOB_TRACKER_ID }})\n\n## 📋 Next Week's Goals\n- [ ] Apply to 5 new bioinformatics positions\n- [ ] Create 3 technical blog posts\n- [ ] Update portfolio with latest projects\n- [ ] Network with 10 industry professionals\n- [ ] Complete 1 online certification\n\n---\n\n🎯 **Career Progress Summary:**\n• Portfolio projects: {{ $json.portfolio_projects || 'Updated' }}\n• Social media engagement: Growing\n• Job applications: Tracking optimally\n• Skills development: Continuous\n• Network expansion: Active\n\n💡 **Automation Benefits:**\n✨ Consistent content creation\n⚡ High-speed processing (offline capable)\n🔒 Secure credential management\n🌍 Global offer access via VPN\n📊 Comprehensive tracking and analytics\n\n**System Status:** 🟢 All systems running optimally\n**Next Automation:** {{ $now.plus({ days: 7 }).format('MMMM Do, YYYY') }} at 8:00 AM\n\n---\n*This report was automatically generated by the n8n Career Automation System*\n*Instance ID: 8f75859920be976c80a11c1dd4be8852c698c893b1073cb8716ee93cd8d6a3c9*"
        }
      },
      "id": "weekly-report-email",
      "name": "Send Weekly Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-condition",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "error-handler",
      "name": "Error Detection",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 600]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "send",
        "message": {
          "to": "balaji.web.design1@gmail.com,22034563001@paruluniversity.ac.in",
          "subject": "⚠️ Career Automation System Alert",
          "body": "=🚨 **SYSTEM ALERT**\n\n❌ **Error Detected:** {{ $now.format('MMMM Do, YYYY h:mm A') }}\n\n**Error Details:**\n{{ $json.error || 'Unknown error occurred' }}\n\n**Component:** {{ $json.component || 'Unknown' }}\n**Workflow:** Career Automation Master\n**Instance:** 8f75859920be976c80a11c1dd4be8852c698c893b1073cb8716ee93cd8d6a3c9\n\n**Action Required:**\n1. Check n8n workflow execution logs\n2. Verify system components status\n3. Review error logs for root cause\n4. Restart failed components if necessary\n\n**System Status Check:**\nRun: python3 /scripts/execution_validator.py validate-all\n\n---\n*Automated alert from n8n Career Automation System*"
        }
      },
      "id": "error-notification",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [800, 650]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-execution",
        "options": {}
      },
      "id": "test-webhook",
      "name": "Test Command Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 800]
    },
    {
      "parameters": {
        "jsCode": "// Sample Test Payload Generator\nconst testPayloads = {\n  portfolio_test: {\n    name: 'Gene Expression Analysis',\n    description: 'Comprehensive analysis of gene expression patterns',\n    tools: 'Python, R, Machine Learning',\n    dataset: 'NCBI GEO Database',\n    findings: 'Identified 15 significant biomarkers'\n  },\n  social_media_test: {\n    platform: 'linkedin',\n    type: 'project-share',\n    content: 'Completed advanced bioinformatics project with ML',\n    tone: 'professional'\n  },\n  vpn_test: {\n    action: 'switch_country',\n    target_countries: ['US', 'UK', 'DE'],\n    purpose: 'offer_access'\n  },\n  ai_test: {\n    model: 'gemma-3n',\n    prompt: 'Generate LinkedIn post about bioinformatics career',\n    max_tokens: 300\n  }\n};\n\nconst testType = $input.all()[0].json.test_type || 'portfolio_test';\nconst payload = testPayloads[testType] || testPayloads.portfolio_test;\n\nreturn {\n  test_type: testType,\n  payload: payload,\n  timestamp: new Date().toISOString(),\n  status: 'test_payload_generated'\n};"
      },
      "id": "sample-payload-generator",
      "name": "Sample Test Payload Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 800]
    },
    {
      "parameters": {
        "jsCode": "// Execution Guide Generator\nconst executionGuides = {\n  portfolio_automation: {\n    title: 'Portfolio Content Automation',\n    steps: [\n      '1. Trigger workflow via webhook or schedule',\n      '2. System validates all components',\n      '3. AI generates professional content',\n      '4. Content is formatted and optimized',\n      '5. GitHub repositories are updated',\n      '6. Social media posts are prepared',\n      '7. Job tracking sheet is updated',\n      '8. Summary email is sent'\n    ],\n    endpoints: {\n      trigger: '/webhook/career-automation',\n      test: '/webhook/test-execution',\n      status: '/api/v1/workflows/active'\n    }\n  },\n  vpn_automation: {\n    title: 'VPN Country Switching for Offers',\n    steps: [\n      '1. Initialize VPN switcher script',\n      '2. Test connection to multiple countries',\n      '3. Verify IP address changes',\n      '4. Check regional offer availability',\n      '5. Log successful connections',\n      '6. Return to original location',\n      '7. Generate accessibility report'\n    ],\n    countries: ['US', 'UK', 'DE', 'IN', 'SG', 'JP', 'AU', 'CA']\n  },\n  ai_content_automation: {\n    title: 'Local AI Content Generation',\n    steps: [\n      '1. Load local AI models (Gemma 3n, SHAKTI)',\n      '2. Verify model availability and performance',\n      '3. Process content generation requests',\n      '4. Apply bioinformatics-specific formatting',\n      '5. Optimize for different platforms',\n      '6. Cache results for offline access',\n      '7. Validate output quality'\n    ],\n    models: ['gemma-3n', 'shakti'],\n    offline_capable: true\n  },\n  job_tracking_automation: {\n    title: 'Automated Job Application Tracking',\n    steps: [\n      '1. Monitor job application activities',\n      '2. Update Google Sheets tracking database',\n      '3. Calculate success metrics and analytics',\n      '4. Schedule follow-up reminders',\n      '5. Generate performance reports',\n      '6. Identify optimization opportunities',\n      '7. Send progress notifications'\n    ],\n    metrics: ['applications_sent', 'interviews_scheduled', 'offers_received']\n  }\n};\n\nconst guideType = $input.all()[0].json.guide_type || 'portfolio_automation';\nconst guide = executionGuides[guideType] || executionGuides.portfolio_automation;\n\nreturn {\n  guide_type: guideType,\n  execution_guide: guide,\n  generated_at: new Date().toISOString(),\n  system_info: {\n    n8n_version: '1.108.1',\n    instance_id: '8f75859920be976c80a11c1dd4be8852c698c893b1073cb8716ee93cd8d6a3c9',\n    automation_level: 'pro_functionality',\n    offline_capable: true,\n    high_speed_processing: true\n  }\n};"
      },
      "id": "execution-guide-generator",
      "name": "Execution Guide Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 800]
    },
    {
      "parameters": {
        "command": "python3 /scripts/execution_validator.py generate-report"
      },
      "id": "validation-report",
      "name": "Generate Validation Report",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [800, 800]
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly Monday 8AM Trigger": {
      "main": [
        [
          {
            "node": "System Validation Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Webhook Trigger": {
      "main": [
        [
          {
            "node": "System Validation Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System Validation Check": {
      "main": [
        [
          {
            "node": "Validation Success Gate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Success Gate": {
      "main": [
        [
          {
            "node": "VPN Country Switching",
            "type": "main",
            "index": 0
          },
          {
            "node": "Local AI Content Generation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Portfolio Content Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VPN Country Switching": {
      "main": [
        [
          {
            "node": "GitHub Repository Management",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local AI Content Generation": {
      "main": [
        [
          {
            "node": "Update Job Tracking Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Portfolio Content Update": {
      "main": [
        [
          {
            "node": "Update Job Tracking Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Repository Management": {
      "main": [
        [
          {
            "node": "Send Weekly Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job Tracking Sheet": {
      "main": [
        [
          {
            "node": "Send Weekly Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Detection": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Command Webhook": {
      "main": [
        [
          {
            "node": "Sample Test Payload Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Test Payload Generator": {
      "main": [
        [
          {
            "node": "Execution Guide Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Guide Generator": {
      "main": [
        [
          {
            "node": "Generate Validation Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-notification"
  },
  "versionId": "master-workflow-v2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f75859920be976c80a11c1dd4be8852c698c893b1073cb8716ee93cd8d6a3c9"
  },
  "id": "master-career-automation",
  "tags": [
    {
      "createdAt": "2024-01-15T10:30:00.000Z",
      "updatedAt": "2024-01-15T10:30:00.000Z",
      "id": "career-automation-master",
      "name": "Career Automation Master"
    },
    {
      "createdAt": "2024-01-15T10:30:00.000Z",
      "updatedAt": "2024-01-15T10:30:00.000Z",
      "id": "parul-university",
      "name": "Parul University"
    },
    {
      "createdAt": "2024-01-15T10:30:00.000Z",
      "updatedAt": "2024-01-15T10:30:00.000Z",
      "id": "bioinformatics",
      "name": "Bioinformatics"
    }
  ]
}